############################
# macOS
############################
.DS_Store
.AppleDouble
.LSOverride

############################
# VS Code
############################
.vscode/

############################
# CLion / IntelliJ
############################
.idea/
cmake-build-*/

############################
# CMake
############################
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake

############################
# Make
############################
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.exe
*.out

############################
# Build folders
############################
build/
bin/
out/
Debug/
Release/

############################
# Xcode
############################
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

############################
# Logs
############################
*.log

############################
# Temporary files
############################
*.tmp
*.temp
*.swp
*.cache

############################
# Conan
############################
.conan/

############################
# vcpkg
############################
vcpkg_installed/

############################
# Coverage
############################
*.gcda
*.gcno
*.gcov

############################
# Profiling
############################
*.prof
